<h1 style="margin-left: 100px">Facility</h1>
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{facility.name}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{facility.cost}}</li>
    <li class="list-group-item">{{facility.rentType}}</li>
    <li class="list-group-item">{{facility.maxpeople}}</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Edit</a>
    <a href="#" class="card-link">Delete</a>
  </div>
</div>
