.img{
  width: 100px;
  height: 100%;
}
h3{
  color: burlywood;
}
.picture{
  width: 600px;
  height: 40%;
  margin-left: 5%;
  margin-top: 10%;
}
.furama{
  width: 500px;
  height: 50%;
}
.text{
  margin-top: 5%;
  margin-left: 5%;
}
.text1{
  margin-top: 10%;

}
